## Описание бизнес кейса

### 1) Подведите результаты эксперимента в экселе по следующим данным: ab_stats.csv - Google Диск:
### Стат значимо ли отличается ARPPU в двух группах ? Какие рекомендации дадите менеджеру?

In [49]:
from scipy.stats import ttest_1samp
import numpy as np
import pandas as pd

from scipy.stats import norm, t, kstest, shapiro
import statsmodels.api as sm
from matplotlib import pyplot as plt

import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [9]:
df = pd.read_csv('ab_stats - ab_stats.csv')
df

       revenue  num_purchases  purchase ab_group  av_site visit
0          0.0              0         0        A       9.040174
1          0.0              0         0        A       4.811628
2          0.0              0         0        A       7.342623
3          0.0              0         0        A       7.744581
4          0.0              0         0        A      10.511814
...        ...            ...       ...      ...            ...
23647      0.0              0         0        B      10.207152
23648      0.0              0         0        B       5.148761
23649      0.0              0         0        B       4.809019
23650      0.0              0         0        B       8.127488
23651      0.0              0         0        B       8.928102

[23652 rows x 5 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23652 entries, 0 to 23651
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   revenue        23652 non-null  float64
 1   num_purchases  23652 non-null  int64
 2   purchase       23652 non-null  int64
 3   ab_group       23652 non-null  object
 4   av_site visit  23652 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 924.0+ KB

In [11]:
df.isna().sum()

revenue          0
num_purchases    0
purchase         0
ab_group         0
av_site visit    0
dtype: int64

In [12]:
df.describe()

            revenue  num_purchases      purchase  av_site visit
count  23652.000000   23652.000000  23652.000000   23652.000000
mean       0.324689       0.043590      0.020717       7.013112
std        9.557730       1.079403      0.142438       3.154584
min        0.000000       0.000000      0.000000     -12.073486
25%        0.000000       0.000000      0.000000       5.173787
50%        0.000000       0.000000      0.000000       7.007936
75%        0.000000       0.000000      0.000000       8.864119
max     1303.609284     152.000000      1.000000      22.446822

In [13]:
df.duplicated().sum()

3733

Проанализируем метрику ARPPU.

ARPPU (Average Revenue Per Paying User) - средний доход, который приносит платящий пользователь за определенный период времени.Эта метрика позволяет измерять ценность продукта компании и прогнозировать доход.

 проанализируем показатель revenue

In [14]:
df[(df['ab_group'] == 'A')]['revenue'].max()

1303.609284

In [15]:
df[(df['ab_group'] == 'B')]['revenue'].max()

113.829999999999

* revenue у группы А почти в 9 раз превышает чем у группы В

In [23]:
df[(df['ab_group'] == 'A')]['ab_group'].count()

11835

In [24]:
df[(df['ab_group'] == 'B')]['ab_group'].count()

11817

In [16]:
df['ab_group'].value_counts()

A    11835
B    11817
Name: ab_group, dtype: int64

* По количеству, пользователи в двух группах почти одниково распределены

Найдём количество пользователей
для каждой группы, у кого была одна и более покупка

In [17]:
df[(df['ab_group'] == 'A') & (df['num_purchases'] >=1)]['ab_group'].count()

256

In [18]:
df[(df['ab_group'] == 'B') & (df['num_purchases'] >=1)]['ab_group'].count()

234

In [25]:
df[(df['ab_group'] == 'A')]['revenue'].max()/df[(df['ab_group'] == 'A')]['ab_group'].count()

0.11014865095057033

In [26]:
df[(df['ab_group'] == 'B')]['revenue'].max()/df[(df['ab_group'] == 'B')]['ab_group'].count()

0.009632732504019548

* ARPPU группы А в 12 раз превышает чем у группы B.
Если предположить,
что группа А-контрольная, а В-тестовая, то значимых изменений у нас нет.

In [29]:
alpha = 0.05
st = shapiro(df.revenue)
print('Distribution is {}normal\n'.format( {True:'not ',
False:''}[st[1] < alpha]))

Distribution is not normal

* Тесть Шапиро показал, что распределение ненормальное

In [30]:
print(kstest(df.revenue, 'norm'))

KstestResult(statistic=0.5, pvalue=0.0, statistic_location=0.0, statistic_sign=-1)

* p-значение равно 0.0, что указывает на то, что нулевая гипотеза
может быть отвергнута.


На основе проведённого анализа сделаем общий вывод:
* Отвергнуть нулевую гипотезу: Данному А/В тесту имеет место быть. Поэтому мы
можем отвергнуть нулевую гипотезу о том, что статистических различий между
двумя группами по показателю ARPPU нет.
* Взглянув на статистику
Колмогорова-Смирнова и ее положение во втором распределении, можно сделать
вывод, что группа В имеет большее удаление от гипотетического распределения.
* На основе результатов AB-теста,
можно провести обсуждение с командой разработки и менеджментом о
дальнейших идеях и улучшениях, которые могут быть внедрены для привлечения
новых потенциальных покупателей с активной конверсией их в покупки.